USE [master]
GO
/****** Object:  Database [MM_Clientes]    Script Date: 9/12/2025 7:06:26 p. m. ******/
CREATE DATABASE [MM_Clientes]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MM_Clientes', FILENAME = N'C:\Users\CARLOS QUIROZ\MM_Clientes.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MM_Clientes_log', FILENAME = N'C:\Users\CARLOS QUIROZ\MM_Clientes_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MM_Clientes].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MM_Clientes]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 9/12/2025 7:06:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[ClienteId] [uniqueidentifier] NOT NULL,
	[TipoDocumento] [nvarchar](30) NULL,
	[NumeroDocumento] [nvarchar](80) NOT NULL,
	[RazonSocial] [nvarchar](300) NULL,
	[PrimerNombre] [nvarchar](120) NULL,
	[SegundoNombre] [nvarchar](120) NULL,
	[PrimerApellido] [nvarchar](120) NULL,
	[SegundoApellido] [nvarchar](120) NULL,
	[FechaNacimiento] [date] NULL,
	[Direccion] [nvarchar](500) NULL,
	[Telefono] [nvarchar](80) NULL,
	[CorreoElectronico] [nvarchar](200) NULL,
	[PaisId] [int] NULL,
	[DepartamentoId] [int] NULL,
	[MunicipioId] [int] NULL,
	[FechaRegistro] [datetime2](7) NOT NULL,
	[EsActivo] [bit] NOT NULL,
 CONSTRAINT [PK_Clientes] PRIMARY KEY CLUSTERED 
(
	[ClienteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Cliente_Tipo_Numero] UNIQUE NONCLUSTERED 
(
	[TipoDocumento] ASC,
	[NumeroDocumento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cotitulares]    Script Date: 9/12/2025 7:06:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cotitulares](
	[CotitularId] [uniqueidentifier] NOT NULL,
	[ClienteId] [uniqueidentifier] NOT NULL,
	[TipoDocumento] [nvarchar](30) NULL,
	[NumeroDocumento] [nvarchar](80) NOT NULL,
	[NombreCompleto] [nvarchar](300) NOT NULL,
	[Participacion] [decimal](5, 2) NULL,
	[RelacionConCliente] [nvarchar](200) NULL,
	[FechaRegistro] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Cotitulares] PRIMARY KEY CLUSTERED 
(
	[CotitularId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Datos_Financieros]    Script Date: 9/12/2025 7:06:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Datos_Financieros](
	[DatoFinancieroId] [uniqueidentifier] NOT NULL,
	[ClienteId] [uniqueidentifier] NOT NULL,
	[TipoProducto] [nvarchar](100) NULL,
	[Entidad] [nvarchar](200) NULL,
	[Saldo] [decimal](18, 2) NULL,
	[IngresosAnuales] [decimal](18, 2) NULL,
	[EgresosAnuales] [decimal](18, 2) NULL,
	[Activos] [decimal](18, 2) NULL,
	[Pasivos] [decimal](18, 2) NULL,
	[Patrimonio] [decimal](18, 2) NULL,
	[Observaciones] [nvarchar](1000) NULL,
	[FechaRegistro] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Datos_Financieros] PRIMARY KEY CLUSTERED 
(
	[DatoFinancieroId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Clientes_NumeroDocumento]    Script Date: 9/12/2025 7:06:26 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Clientes_NumeroDocumento] ON [dbo].[Clientes]
(
	[NumeroDocumento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Cotitulares_ClienteId]    Script Date: 9/12/2025 7:06:26 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Cotitulares_ClienteId] ON [dbo].[Cotitulares]
(
	[ClienteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DatosFinancieros_ClienteId]    Script Date: 9/12/2025 7:06:26 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_DatosFinancieros_ClienteId] ON [dbo].[Datos_Financieros]
(
	[ClienteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Clientes] ADD  DEFAULT (newid()) FOR [ClienteId]
GO
ALTER TABLE [dbo].[Clientes] ADD  DEFAULT (sysutcdatetime()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Clientes] ADD  DEFAULT ((1)) FOR [EsActivo]
GO
ALTER TABLE [dbo].[Cotitulares] ADD  DEFAULT (newid()) FOR [CotitularId]
GO
ALTER TABLE [dbo].[Cotitulares] ADD  DEFAULT (sysutcdatetime()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Datos_Financieros] ADD  DEFAULT (newid()) FOR [DatoFinancieroId]
GO
ALTER TABLE [dbo].[Datos_Financieros] ADD  DEFAULT ((0)) FOR [Saldo]
GO
ALTER TABLE [dbo].[Datos_Financieros] ADD  DEFAULT ((0)) FOR [IngresosAnuales]
GO
ALTER TABLE [dbo].[Datos_Financieros] ADD  DEFAULT ((0)) FOR [EgresosAnuales]
GO
ALTER TABLE [dbo].[Datos_Financieros] ADD  DEFAULT ((0)) FOR [Activos]
GO
ALTER TABLE [dbo].[Datos_Financieros] ADD  DEFAULT ((0)) FOR [Pasivos]
GO
ALTER TABLE [dbo].[Datos_Financieros] ADD  DEFAULT ((0)) FOR [Patrimonio]
GO
ALTER TABLE [dbo].[Datos_Financieros] ADD  DEFAULT (sysutcdatetime()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Cotitulares]  WITH CHECK ADD  CONSTRAINT [FK_Cotitular_Cliente] FOREIGN KEY([ClienteId])
REFERENCES [dbo].[Clientes] ([ClienteId])
GO
ALTER TABLE [dbo].[Cotitulares] CHECK CONSTRAINT [FK_Cotitular_Cliente]
GO
ALTER TABLE [dbo].[Datos_Financieros]  WITH CHECK ADD  CONSTRAINT [FK_DF_Cliente] FOREIGN KEY([ClienteId])
REFERENCES [dbo].[Clientes] ([ClienteId])
GO
ALTER TABLE [dbo].[Datos_Financieros] CHECK CONSTRAINT [FK_DF_Cliente]
GO
USE [master]
GO
