USE [master]
GO
/****** Object:  Database [MM_DIAN]    Script Date: 9/12/2025 7:07:22 p. m. ******/
CREATE DATABASE [MM_DIAN]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MM_DIAN', FILENAME = N'C:\Users\CARLOS QUIROZ\MM_DIAN.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MM_DIAN_log', FILENAME = N'C:\Users\CARLOS QUIROZ\MM_DIAN_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MM_DIAN].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MM_DIAN]
GO
/****** Object:  Table [dbo].[DIAN_Departamentos]    Script Date: 9/12/2025 7:07:22 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIAN_Departamentos](
	[DepartamentoId] [int] IDENTITY(1,1) NOT NULL,
	[PaisId] [int] NOT NULL,
	[CodigoDepartamento] [nvarchar](20) NULL,
	[NombreDepartamento] [nvarchar](200) NOT NULL,
	[FechaActualizacion] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_DIAN_Departamentos] PRIMARY KEY CLUSTERED 
(
	[DepartamentoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIAN_Municipios]    Script Date: 9/12/2025 7:07:22 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIAN_Municipios](
	[MunicipioId] [int] IDENTITY(1,1) NOT NULL,
	[DepartamentoId] [int] NOT NULL,
	[PaisId] [int] NOT NULL,
	[CodigoMunicipio] [nvarchar](30) NULL,
	[NombreMunicipio] [nvarchar](200) NOT NULL,
	[FechaActualizacion] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_DIAN_Municipios] PRIMARY KEY CLUSTERED 
(
	[MunicipioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIAN_Paises]    Script Date: 9/12/2025 7:07:22 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIAN_Paises](
	[PaisId] [int] IDENTITY(1,1) NOT NULL,
	[CodigoPais] [nvarchar](10) NULL,
	[NombrePais] [nvarchar](200) NOT NULL,
	[FechaActualizacion] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_DIAN_Paises] PRIMARY KEY CLUSTERED 
(
	[PaisId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_DIAN_Departamentos_PaisId]    Script Date: 9/12/2025 7:07:22 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_DIAN_Departamentos_PaisId] ON [dbo].[DIAN_Departamentos]
(
	[PaisId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DIAN_Municipios_DepartamentoId]    Script Date: 9/12/2025 7:07:22 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_DIAN_Municipios_DepartamentoId] ON [dbo].[DIAN_Municipios]
(
	[DepartamentoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DIAN_Municipios_PaisId]    Script Date: 9/12/2025 7:07:22 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_DIAN_Municipios_PaisId] ON [dbo].[DIAN_Municipios]
(
	[PaisId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DIAN_Departamentos] ADD  DEFAULT (sysutcdatetime()) FOR [FechaActualizacion]
GO
ALTER TABLE [dbo].[DIAN_Municipios] ADD  DEFAULT (sysutcdatetime()) FOR [FechaActualizacion]
GO
ALTER TABLE [dbo].[DIAN_Paises] ADD  DEFAULT (sysutcdatetime()) FOR [FechaActualizacion]
GO
ALTER TABLE [dbo].[DIAN_Departamentos]  WITH CHECK ADD  CONSTRAINT [FK_DD_Pais] FOREIGN KEY([PaisId])
REFERENCES [dbo].[DIAN_Paises] ([PaisId])
GO
ALTER TABLE [dbo].[DIAN_Departamentos] CHECK CONSTRAINT [FK_DD_Pais]
GO
ALTER TABLE [dbo].[DIAN_Municipios]  WITH CHECK ADD  CONSTRAINT [FK_DM_Departamento] FOREIGN KEY([DepartamentoId])
REFERENCES [dbo].[DIAN_Departamentos] ([DepartamentoId])
GO
ALTER TABLE [dbo].[DIAN_Municipios] CHECK CONSTRAINT [FK_DM_Departamento]
GO
ALTER TABLE [dbo].[DIAN_Municipios]  WITH CHECK ADD  CONSTRAINT [FK_DM_Pais] FOREIGN KEY([PaisId])
REFERENCES [dbo].[DIAN_Paises] ([PaisId])
GO
ALTER TABLE [dbo].[DIAN_Municipios] CHECK CONSTRAINT [FK_DM_Pais]
GO
USE [master]
GO
