USE [master]
GO
/****** Object:  Database [MM_Formatos]    Script Date: 9/12/2025 7:07:52 p. m. ******/
CREATE DATABASE [MM_Formatos]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MM_Formatos', FILENAME = N'C:\Users\CARLOS QUIROZ\MM_Formatos.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MM_Formatos_log', FILENAME = N'C:\Users\CARLOS QUIROZ\MM_Formatos_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MM_Formatos].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MM_Formatos]
GO
/****** Object:  Table [dbo].[Formato_1019]    Script Date: 9/12/2025 7:07:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Formato_1019](
	[Formato1019Id] [uniqueidentifier] NOT NULL,
	[ClienteId] [uniqueidentifier] NULL,
	[PeriodoAno] [int] NOT NULL,
	[PeriodoMes] [tinyint] NULL,
	[CodigoConcepto] [nvarchar](50) NOT NULL,
	[Valor] [decimal](18, 2) NOT NULL,
	[Descripcion] [nvarchar](500) NULL,
	[Linea] [nvarchar](200) NULL,
	[FechaGeneracion] [datetime2](7) NOT NULL,
	[UsuarioGenerador] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Formato_1019] PRIMARY KEY CLUSTERED 
(
	[Formato1019Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Formato1019] UNIQUE NONCLUSTERED 
(
	[PeriodoAno] ASC,
	[PeriodoMes] ASC,
	[CodigoConcepto] ASC,
	[ClienteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Formato_Errores]    Script Date: 9/12/2025 7:07:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Formato_Errores](
	[ErrorId] [uniqueidentifier] NOT NULL,
	[Formato1019Id] [uniqueidentifier] NULL,
	[ClienteId] [uniqueidentifier] NULL,
	[CodigoError] [nvarchar](50) NOT NULL,
	[DescripcionError] [nvarchar](1000) NULL,
	[ValorInvalido] [nvarchar](1000) NULL,
	[Nivel] [nvarchar](50) NULL,
	[FechaError] [datetime2](7) NOT NULL,
	[UsuarioProcesador] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Formato_Errores] PRIMARY KEY CLUSTERED 
(
	[ErrorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_Formato1019_Cliente]    Script Date: 9/12/2025 7:07:53 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Formato1019_Cliente] ON [dbo].[Formato_1019]
(
	[ClienteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Formato1019_Periodo]    Script Date: 9/12/2025 7:07:53 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Formato1019_Periodo] ON [dbo].[Formato_1019]
(
	[PeriodoAno] ASC,
	[PeriodoMes] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FormatoErrores_ClienteId]    Script Date: 9/12/2025 7:07:53 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_FormatoErrores_ClienteId] ON [dbo].[Formato_Errores]
(
	[ClienteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FormatoErrores_Formato1019Id]    Script Date: 9/12/2025 7:07:53 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_FormatoErrores_Formato1019Id] ON [dbo].[Formato_Errores]
(
	[Formato1019Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Formato_1019] ADD  DEFAULT (newid()) FOR [Formato1019Id]
GO
ALTER TABLE [dbo].[Formato_1019] ADD  DEFAULT ((0)) FOR [Valor]
GO
ALTER TABLE [dbo].[Formato_1019] ADD  DEFAULT (sysutcdatetime()) FOR [FechaGeneracion]
GO
ALTER TABLE [dbo].[Formato_Errores] ADD  DEFAULT (newid()) FOR [ErrorId]
GO
ALTER TABLE [dbo].[Formato_Errores] ADD  DEFAULT (sysutcdatetime()) FOR [FechaError]
GO
USE [master]
GO
