USE [master]
GO
/****** Object:  Database [MM_Logs]    Script Date: 9/12/2025 7:08:25 p. m. ******/
CREATE DATABASE [MM_Logs]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MM_Logs', FILENAME = N'C:\Users\CARLOS QUIROZ\MM_Logs.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MM_Logs_log', FILENAME = N'C:\Users\CARLOS QUIROZ\MM_Logs_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MM_Logs].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MM_Logs]
GO
/****** Object:  Table [dbo].[Logs_Errores]    Script Date: 9/12/2025 7:08:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Logs_Errores](
	[LogErrorId] [bigint] IDENTITY(1,1) NOT NULL,
	[Origen] [nvarchar](200) NULL,
	[Mensaje] [nvarchar](max) NULL,
	[StackTrace] [nvarchar](max) NULL,
	[UsuarioId] [uniqueidentifier] NULL,
	[Fecha] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Logs_Errores] PRIMARY KEY CLUSTERED 
(
	[LogErrorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Logs_Sistema]    Script Date: 9/12/2025 7:08:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Logs_Sistema](
	[LogId] [bigint] IDENTITY(1,1) NOT NULL,
	[Origen] [nvarchar](200) NULL,
	[Nivel] [nvarchar](50) NULL,
	[Mensaje] [nvarchar](max) NULL,
	[DatosAdicionales] [nvarchar](max) NULL,
	[Fecha] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Logs_Sistema] PRIMARY KEY CLUSTERED 
(
	[LogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Logs_Errores] ADD  DEFAULT (sysutcdatetime()) FOR [Fecha]
GO
ALTER TABLE [dbo].[Logs_Sistema] ADD  DEFAULT (sysutcdatetime()) FOR [Fecha]
GO
USE [master]
GO
