USE [master]
GO
/****** Object:  Database [MM_Usuarios]    Script Date: 9/12/2025 7:08:50 p. m. ******/
CREATE DATABASE [MM_Usuarios]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MM_Usuarios', FILENAME = N'C:\Users\CARLOS QUIROZ\MM_Usuarios.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MM_Usuarios_log', FILENAME = N'C:\Users\CARLOS QUIROZ\MM_Usuarios_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MM_Usuarios].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MM_Usuarios]
GO
/****** Object:  Table [dbo].[Permisos]    Script Date: 9/12/2025 7:08:51 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permisos](
	[PermisoId] [uniqueidentifier] NOT NULL,
	[Nombre] [nvarchar](150) NOT NULL,
	[Descripcion] [nvarchar](400) NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Permisos] PRIMARY KEY CLUSTERED 
(
	[PermisoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RefreshTokens]    Script Date: 9/12/2025 7:08:51 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RefreshTokens](
	[RefreshTokenId] [uniqueidentifier] NOT NULL,
	[UsuarioId] [uniqueidentifier] NOT NULL,
	[Token] [nvarchar](500) NOT NULL,
	[FechaExpiracion] [datetime2](7) NOT NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
	[IP] [nvarchar](50) NULL,
	[EsRevocado] [bit] NOT NULL,
 CONSTRAINT [PK_RefreshTokens] PRIMARY KEY CLUSTERED 
(
	[RefreshTokenId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 9/12/2025 7:08:51 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RolId] [uniqueidentifier] NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Descripcion] [nvarchar](400) NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
	[EsActivo] [bit] NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[RolId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles_Permisos]    Script Date: 9/12/2025 7:08:51 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles_Permisos](
	[RolPermisoId] [uniqueidentifier] NOT NULL,
	[RolId] [uniqueidentifier] NOT NULL,
	[PermisoId] [uniqueidentifier] NOT NULL,
	[FechaAsignacion] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Roles_Permisos] PRIMARY KEY CLUSTERED 
(
	[RolPermisoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 9/12/2025 7:08:51 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[UsuarioId] [uniqueidentifier] NOT NULL,
	[TipoDocumento] [nvarchar](20) NULL,
	[NumeroDocumento] [nvarchar](50) NOT NULL,
	[PrimerNombre] [nvarchar](100) NOT NULL,
	[SegundoNombre] [nvarchar](100) NULL,
	[PrimerApellido] [nvarchar](100) NOT NULL,
	[SegundoApellido] [nvarchar](100) NULL,
	[CorreoElectronico] [nvarchar](200) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[Salt] [nvarchar](100) NULL,
	[Telefono] [nvarchar](50) NULL,
	[EsActivo] [bit] NOT NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
	[FechaUltimoAcceso] [datetime2](7) NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[UsuarioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[CorreoElectronico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios_Roles]    Script Date: 9/12/2025 7:08:51 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios_Roles](
	[UsuarioRolId] [uniqueidentifier] NOT NULL,
	[UsuarioId] [uniqueidentifier] NOT NULL,
	[RolId] [uniqueidentifier] NOT NULL,
	[FechaAsignacion] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Usuarios_Roles] PRIMARY KEY CLUSTERED 
(
	[UsuarioRolId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_Roles_Permisos_PermisoId]    Script Date: 9/12/2025 7:08:51 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Roles_Permisos_PermisoId] ON [dbo].[Roles_Permisos]
(
	[PermisoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Roles_Permisos_RolId]    Script Date: 9/12/2025 7:08:51 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Roles_Permisos_RolId] ON [dbo].[Roles_Permisos]
(
	[RolId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Usuarios_Roles_RolId]    Script Date: 9/12/2025 7:08:51 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Usuarios_Roles_RolId] ON [dbo].[Usuarios_Roles]
(
	[RolId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Usuarios_Roles_UsuarioId]    Script Date: 9/12/2025 7:08:51 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Usuarios_Roles_UsuarioId] ON [dbo].[Usuarios_Roles]
(
	[UsuarioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Permisos] ADD  DEFAULT (newid()) FOR [PermisoId]
GO
ALTER TABLE [dbo].[Permisos] ADD  DEFAULT (sysutcdatetime()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[RefreshTokens] ADD  DEFAULT (newid()) FOR [RefreshTokenId]
GO
ALTER TABLE [dbo].[RefreshTokens] ADD  DEFAULT (sysutcdatetime()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[RefreshTokens] ADD  DEFAULT ((0)) FOR [EsRevocado]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT (newid()) FOR [RolId]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT (sysutcdatetime()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT ((1)) FOR [EsActivo]
GO
ALTER TABLE [dbo].[Roles_Permisos] ADD  DEFAULT (newid()) FOR [RolPermisoId]
GO
ALTER TABLE [dbo].[Roles_Permisos] ADD  DEFAULT (sysutcdatetime()) FOR [FechaAsignacion]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT (newid()) FOR [UsuarioId]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ((1)) FOR [EsActivo]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT (sysutcdatetime()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Usuarios_Roles] ADD  DEFAULT (newid()) FOR [UsuarioRolId]
GO
ALTER TABLE [dbo].[Usuarios_Roles] ADD  DEFAULT (sysutcdatetime()) FOR [FechaAsignacion]
GO
ALTER TABLE [dbo].[RefreshTokens]  WITH CHECK ADD  CONSTRAINT [FK_RT_Usuario] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuarios] ([UsuarioId])
GO
ALTER TABLE [dbo].[RefreshTokens] CHECK CONSTRAINT [FK_RT_Usuario]
GO
ALTER TABLE [dbo].[Roles_Permisos]  WITH CHECK ADD  CONSTRAINT [FK_RP_Permiso] FOREIGN KEY([PermisoId])
REFERENCES [dbo].[Permisos] ([PermisoId])
GO
ALTER TABLE [dbo].[Roles_Permisos] CHECK CONSTRAINT [FK_RP_Permiso]
GO
ALTER TABLE [dbo].[Roles_Permisos]  WITH CHECK ADD  CONSTRAINT [FK_RP_Rol] FOREIGN KEY([RolId])
REFERENCES [dbo].[Roles] ([RolId])
GO
ALTER TABLE [dbo].[Roles_Permisos] CHECK CONSTRAINT [FK_RP_Rol]
GO
ALTER TABLE [dbo].[Usuarios_Roles]  WITH CHECK ADD  CONSTRAINT [FK_UR_Rol] FOREIGN KEY([RolId])
REFERENCES [dbo].[Roles] ([RolId])
GO
ALTER TABLE [dbo].[Usuarios_Roles] CHECK CONSTRAINT [FK_UR_Rol]
GO
ALTER TABLE [dbo].[Usuarios_Roles]  WITH CHECK ADD  CONSTRAINT [FK_UR_Usuario] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuarios] ([UsuarioId])
GO
ALTER TABLE [dbo].[Usuarios_Roles] CHECK CONSTRAINT [FK_UR_Usuario]
GO
USE [master]
GO
